# requirements.txt

# NumPy is a fundamental package for scientific computing with Python.
numpy

# Pillow is a Python Imaging Library that adds image processing capabilities to your Python interpreter.
Pillow

# Flask is a lightweight WSGI web application framework. It is designed to make getting started quick and easy.
Flask
gunicorn


# TensorFlow is an end-to-end open-source platform for machine learning.
tensorflow
